BLOMOON_DOMAIN=blomoon.ir
BLOMOON_LOG_LEVEL=info
BLOMOON_IMAGE=ghcr.io/OWNER/REPOSITORY:main
BLOMOON_MIGRATE_IMAGE=ghcr.io/OWNER/REPOSITORY-migrate:main
GHCR_USERNAME=
GHCR_TOKEN=

TRAEFIK_ACME_EMAIL=admin@example.com
TRAEFIK_LOG_LEVEL=INFO

POSTGRES_DB=blomoon
POSTGRES_USER=blomoon
POSTGRES_PASSWORD=

BETTER_AUTH_URL=https://blomoon.ir
BETTER_AUTH_SECRET=
RESEND_API_KEY=
BLOMOON_AUTH_EMAIL_FROM="Blomoon <no-reply@example.com>"

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
